* {
  /* general setup */
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;

  /* add fonts and set font family as default */
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  font-family: "Roboto", sans-serif;
}

/* navbar elements, actually looks kinda nice, maybe a little big but yeah */
li,
a {
  font-weight: normal;
  font-size: 1rem;
  color: #2f2f2f;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30%;
  padding-bottom: 10px;
}

.logo_text {
  font-size: 1.75rem;
  font-weight: 600;
  color: #2f2f2f;
  cursor: pointer;
}

.project_list {
  background-color: #dde5b6;
  border-radius: 10px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links .about_list :hover,
.home_list :hover {
  transition: all 0.3s ease 0s;
  color: #dde5b6;
}

.nav_links .project_list :hover {
  transition: all 0.3s ease 0s;
  color: white;
}

.divider_1 {
  margin: auto;
  width: 70vw;
  border: 1px solid #f0efef;
  background-color: #f0efef;
  border-radius: 20;
  height: 1px;
}

/* question page 1 */
.question_p1 {
  color: #2f2f2f;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 25vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.divider_2 {
  margin: auto;
  width: 60vw;
  border: 1px solid #f0efef;
  background-color: #f0efef;
  border-radius: 20;
  height: 1px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.paragraph_page1 {
  color: #2f2f2f;
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center;
  font-size: 1.2rem;
}

/* page 2 baby lets fucking goo */
.page_2 h2 {
  text-align: center;
  padding-top: 37px;
  color: #2f2f2f;
  margin-left: 20vw;
  margin-right: 20vw;
}

.img_container {
  text-align: center;
}

.emissions_img {
  width: 60%;
  height: 60%;
  margin-top: 30px;
  border-radius: 15px;
  /* margin-bottom: 20px; */
}

/* page 3 yooooooooo content */
.page_3 h2 {
  text-align: center;
  color: #2f2f2f;
  margin-left: 20vw;
  margin-right: 20vw;
}

.page_3 p {
  color: #2f2f2f;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.heading_p3_1 {
  padding-top: 8vh;
}

/* page 4 content lets fuckin get it finish line righ here */
.img_container_4 {
  text-align: center;
}

.amnt_img {
  margin-top: 5vh;
  width: 50%;
  height: 50%;
  border-radius: 15px;
}
.page_4 p {
  color: #2f2f2f;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
}
/* next page button, make go to next page thing yeah */
.next_button {
  margin: auto;
  margin-top: 9vh;
  width: 140px;
  border: 3px solid #dde5b6;
  background-color: #dde5b6;
  border-radius: 10px;
  /* margin-bottom: 10px; */
  filter: drop-shadow(5px 4px 7px rgba(0, 0, 0, 0.25));
}

.next_link_2 {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

/* fancy page thingy */
section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
