<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project - Planet A</title>
    <link rel="stylesheet" href="./style.css " />
  </head>
  <body>
    <!-- navbar elements -->
    <header>
      <h1 class="logo_text">Planet A</h1>
      <nav>
        <ul class="nav_links">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/index.html#heading_about">About</a></li>
          <li class="project_list">
            <a href="/pj_1/project_page_1.html">Project</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="divider_1"></div>

    <!-- next page button -->
    <div class="next_button">
      <a class="next_link_2" href="./index.html">Next Page!</a>
    </div>
  </body>
</html>
