* {
  /* general setup */
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;

  /* add fonts and set font family as default */
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* navbar elements, actually looks kinda nice, maybe a little big but yeah */
li,
a {
  font-weight: normal;
  font-size: 1rem;
  color: #2f2f2f;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30%;
  padding-bottom: 10px;
}

.logo_text {
  font-size: 1.75rem;
  font-weight: 600;
  color: #2f2f2f;
  cursor: pointer;
}

.project_list {
  background-color: #dde5b6;
  border-radius: 10px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links .about_list :hover,
.project_list :hover {
  transition: all 0.3s ease 0s;
  color: #dde5b6;
}

.nav_links .home_list :hover {
  transition: all 0.3s ease 0s;
  color: white;
}

.divider_1 {
  margin: auto;
  width: 70vw;
  border: 1px solid #f0efef;
  background-color: #f0efef;
  border-radius: 20;
  height: 1px;
}

/* end message thing cuz i'm literally really fucking bored and i wanna do something */
.end_msg {
  text-align: center;
  margin-top: 27vh;
  color: #2f2f2f;
}

.end_msg h2 {
  font-size: 4rem;
  filter: drop-shadow(5px 4px 7px rgba(0, 0, 0, 0.25));
}

.magic {
  animation: background-pan 8s linear infinite;
  background: linear-gradient(to right, #bbc299, #41cac4, #a2c2e4, #bbc299);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.end_msg p {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 20px;
}

/* next page button, make go to next page thing yeah */
.next_button {
  margin: auto;
  margin-top: 30vh;
  width: 100px;
  border: 3px solid #dde5b6;
  background-color: #dde5b6;
  border-radius: 10px;
  margin-bottom: 40px;
  /* filter: drop-shadow(5px 4px 7px rgba(0, 0, 0, 0.25)); */
}

.next_link_2 {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

/* effects babyyyyy */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

/* Animation changes to elements */
.logo_text {
  opacity: 0%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

li {
  opacity: 0%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.divider_1 {
  opacity: 0%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

.end_msg h2 {
  opacity: 0%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.end_msg p {
  opacity: 0%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 650ms;
}

.next_button {
  opacity: 0%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 850ms;
}
